html,body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

header{
    background-color: transparent;
}

.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand{
    max-width: 110px;
}

.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row
}

.nav-item{
    margin-right: 20px;
    color: #e5e5e5;
    opacity: 83%;
}

.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 500;
    
}

.right-cont svg, .right-cont img{
    margin-right: 22px;
    cursor: pointer;
}

.right-cont svg{
    color: white;
}

.right-cont img{
    max-width: 40px;
}

/* movies-section */
.movies-section{
    margin: 41px 0;

}

.movies-section-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.explore-nudge{
    color: #54b9c5;
    font-size: 12px;
    display: none;

}

.movies-section-heading:hover .explore-nudge{
    display: inline-block;
}

.movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.movie-item{
    width: 245px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 5px;
    position: relative;
}

.movie-item:hover{
    transform: scale(1.4);
    transition: transform linear 250ms;
}

@media(max-width: 767px){
    .main-nav{
        display: none;
    }
}